{% extends 'main/base.html' %}
  {% load static %}
   {% block css%}
      <link rel ="stylesheet" href= "{% static 'css/home.css' %}" >
  {% endblock%} 
  {% block content %}
        
        
        
        
    
    
      <div style='min-height: 100%;position:relative;padding:0px;'>
          


              <div class = "d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-xl-row flex-grow-1 flex-shrink-0 flex-wrap justify-content-around align-items-center main">
                
                

                <div onclick='location.href="{% url 'main:seller' %}";' class="d-flex flex-column align-items-center justify-content-start card">
                    <i class="fas fa-recycle"></i>
                  <h5 style='text-align:center;'>Donate Goods </h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                </div>

                <div onclick='location.href="{% url 'main:funds' %}";' class="d-flex flex-column align-items-center justify-content-start card">
                        <i class="fas fa-funnel-dollar"></i>
                      <h5>Donate Funds</h5>
                      <hr style='margin:15px;background:#AAA;'class='break'/>
                    </div>

                <div onclick='location.href="{% url 'main:goods' %}";' class="d-flex flex-column align-items-center justify-content-start card">
                    <i class="fas fa-box"></i>
                  <h5>Donate Goods to NGO</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
            
                </div>

                <div onclick='location.href="{% url 'main:goods' %}";' class="d-flex flex-column align-items-center justify-content-start card">
                  <i class="fas fa-tint"></i>
                <h5>Donate Blood</h5>
                <hr style='margin:15px;background:#AAA;'class='break'/>
                
              </div>
               

              <div onclick='location.href="{% url 'main:goods' %}";' class="d-flex flex-column align-items-center justify-content-start card">
                <i class="fas fa-hands-helping"></i>
              <h5>Donate Plasma</h5>
              <hr style='margin:15px;background:#AAA;'class='break'/>
              
            </div>

            <div onclick='location.href="{% url 'main:fundraising' %}";' class="d-flex flex-column align-items-center justify-content-start card">
              <i class="fas fa-hand-holding-usd"></i>
            <h5>Fund Raising</h5>
            <hr style='margin:15px;background:#AAA;'class='break'/>
            
          </div>

              </div> 


             

      </div>



              
                            
  
                
  {% endblock %}