{% extends 'main/base.html' %}
  {% load static %}
   {% block css%}
      <link rel ="stylesheet" href= "{% static 'css/Funds.css' %}" >
  {% endblock%} 
  {% block content %}
     
      
      <div style='min-height: 100%;position:relative;padding:0px;'>
         


            <div class="heading" style="text-align: center;">
              <h2>Select NGO for Donation </h2>
           </div>
              <div class = "d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-xl-row flex-grow-1 flex-shrink-0 flex-wrap justify-content-around align-items-center main">
                  

                <div class="d-flex flex-column align-items-center justify-content-start card">
          
                    
                  <h5 style='text-align:center;'>Youth Feed India Program under SAFA Organisation</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>The Hyderabad-based not-for-profit organisation works for the urban poor by introducing sustainable livelihoods through an area-based community model. This also includes establishing skill training centres for the youth. With covid-19 having adversely affected the migrant population, Safa & other NGOs including Cry , BGIF,etc</p>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-start card">
                    
                      <h5>Zomato Feeding India</h5>
                      <hr style='margin:15px;background:#AAA;'class='break'/>
                      <p>The not-for-profit started the ‘Feed the Daily Wager’ project after the announcement of the 21-day lockdown to provide food support to families of daily wage earners across cities, who might have lost out on employment in this time of crisis. With the aim to raise INR 50 crore, the project is slowly inching towards the halfway mark, by having amassed more than INR 17 crore in donation</p>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-start card">
                    <img src="">
                  <h5>MCKS Food for the Hungry Foundation</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>MCKS Food for the Hungry Foundation a non-profit organisation based in New Delhi. Our team’s mission is simple - no one should have to sleep hungry. Over the last 15 years, we have delivered more than 1,00,00,000 meals to those in need, in partnership with authorities across the country with over 20+ feeding programs. </p>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-start card">
                    <img src="">
                  <h5>Kashtakari Panchayat</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>Among the frontlines of India’s battle against corona-virus are waste pickers, who ensure towns and cities are clean and garbage-free. But given the nature of their work, they are also among the communities most vulnerable to infections. Pune-based Kashtakari Panchayat has organised a fundraiser to support nearly 7,000 workers in Pune and the neighbouring Pimpri-Chinchwad.</p>
            </div>

            <div class="d-flex flex-column align-items-center justify-content-start card">
                        <img src="">
                      <h5>SEEDS</h5>
                      <hr style='margin:15px;background:#AAA;'class='break'/>
                      <p>	The not-for-profit organisation is reaching out to vulnerable communities in the states of Bihar, Delhi, Karnataka, Kerala, Maharashtra, Odisha and Uttarakhand. In these regions, besides supporting the elderly and children, SEEDS is taking some burden off frontline health workers by supplementing public health systems, supplying hygiene kits and supporting the establishment of temporary quarantine facilities.</p>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-start card">
                            <img src="">
                          <h5>Goonj</h5>
                          <hr style='margin:15px;background:#AAA;'class='break'/>
                          <p>	Besides providing immediate relief, the non-profit Goonj is also working towards long-term rehabilitation of daily wage earners, who are likely to be unemployed for an unforeseen period of time due to the pandemic. Under the programme Rahat, the volunteers aim to prepare kits with essentials such as dry rations and personal care products, and transport them to over a million people in areas with huge pockets of migrant labour</p>
            </div>

              </div> 

          


                
                




      </div>



    {% endblock %}          
                            
  
                
