{% extends 'main/base.html' %}
  {% load static %}
   {% block css%}
      <link rel ="stylesheet" href= "{% static 'css/Funds.css' %}" >
  {% endblock%} 
  {% block content %}
     
      
      <div style='min-height: 100%;position:relative;padding:0px;'>
        <div class="heading">
            <h2>Fund Raising</h2>
        </div>

              <div class = "d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-xl-row flex-grow-1 flex-shrink-0 flex-wrap justify-content-around align-items-center main">
                  
                  
                <div class="d-flex flex-column align-items-center justify-content-start card-article ">  
                  <h4 style='text-align:center;'>PERSON NAME</h4>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloremque, vel natus vero distinctio, aliquamexpedita voluptatum, asperiores reprehenderit ullam aspernatur quos tempore sit rem aliquid nulla ratione consequuntur necessitatibus!</p>
                  <div>
                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Contribute</button>
                 </div>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-start card-article ">  
                    <h4 style='text-align:center;'>PERSON NAME</h4>
                    <hr style='margin:15px;background:#AAA;'class='break'/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloremque, vel natus vero distinctio, aliquamexpedita voluptatum, asperiores reprehenderit ullam aspernatur quos tempore sit rem aliquid nulla ratione consequuntur necessitatibus!</p>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Contribute</button>
                      </div>
                    </div>

                  <div class="d-flex flex-column align-items-center justify-content-start card-article ">  
                      <h4 style='text-align:center;'>PERSON NAME</h4>
                      <hr style='margin:15px;background:#AAA;'class='break'/>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloremque, vel natus vero distinctio, aliquamexpedita voluptatum, asperiores reprehenderit ullam aspernatur quos tempore sit rem aliquid nulla ratione consequuntur necessitatibus!</p>
                      <div>
                          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Contribute</button>
                        </div>
                  </div>  
                  
                  <!-- <div class="notify">
                      <button class="btn btn-lg btn-primary btn-block text-uppercase " type="submit">Send Email to notify</button>
                  </div>     -->
                </div>



                
                




      </div>



    {% endblock %}          
                            
  
                
